body {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.nav-main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(165, 196, 20, 0.9);
}
.nav-main .nav-main-hiding {
  height: 100vh;
  display: none;
}
.nav-main .nav-main-hiding .user-id {
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  font-size: 2em;
}
.nav-main .nav-main-hiding ul {
  display: flex;
  flex-direction: column;
}
.nav-main .nav-main-hiding ul a {
  display: block;
  padding: 0.5em;
  text-align: center;
}
.nav-main .nav-main-hiding ul a:hover {
  background-color: rgba(126, 150, 15, 0.9);
}
.header-main {
  flex-basis: 100%;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}
.table-container {
  width: 60%;
  margin: auto;
  padding: 2em;
  font-size: 1.2em;
}
@media screen and (max-width: 1024px) {
  .table-container {
    width: 100%;
  }
}
.table {
  margin: auto;
  padding: 1em 0;
  font-size: 14pt;
}
.table th {
  font-weight: bold;
}
.table th,
.table td {
  padding: 0.5em;
  vertical-align: middle;
}
.table tr:nth-child(2n) {
  background-color: #e1edff;
}
.addrecord-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-size: 1.2em;
}
.addrecord-container div {
  flex-basis: 40%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.addrecord-container div > * {
  width: 100%;
  height: 1.5em;
  margin: 10px;
  padding: 0;
}
.addrecord-container div > * input,
.addrecord-container div > * select {
  width: 100%;
  height: 1.5em;
}
.addrecord-container div textarea {
  height: auto;
}
.addrecord-container > div {
  text-align: right;
}
.addrecord-container p {
  flex-grow: 1;
  padding: 1em;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .addrecord-container {
    width: 100%;
  }
}
#search {
  font-size: 1.1em;
  position: relative;
  height: 1px;
}
#search li {
  padding: 0.2em;
  margin: 0;
  text-align: left;
  border-bottom: solid 1px lightgray;
}
#search li:hover,
#search li:focus {
  background-color: lightgray;
}
.tiles {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 2em;
  font-size: 1.4em;
}
.tile {
  margin: 10px;
  text-align: center;
  transition: 0.2s margin, 0.2s width, 0.2s height;
  display: flex;
}
.tile div {
  flex-grow: 1;
}
.tile a {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.tile h3 {
  padding: 0.5em 0;
}
.tile-single {
  width: 200px;
  height: 200px;
}
.tile-single > div {
  width: 180px;
  height: 180px;
}
.tile-double {
  width: 200px;
  height: 200px;
}
.tile-double > div {
  width: 180px;
  height: 180px;
}
@media screen and (min-width: 768px) {
  .tile-double {
    width: 400px;
    height: 200px;
  }
  .tile-double > div {
    width: 380px;
    height: 180px;
  }
}
.flex-horizontal-center {
  justify-content: center;
}
.tile-login {
  width: 400px;
  margin-top: 30vh;
  padding: 1em;
  border: solid #090 1px;
}
.tile-login form {
  display: flex;
  flex-wrap: wrap;
}
.tile-login form div {
  flex-basis: 100%;
  margin-bottom: 0.5em;
  display: flex;
}
.tile-login form div span {
  flex-basis: 30%;
}
.tile-login form div input {
  flex-grow: 2;
  border: none;
}
.tile-login form div input:focus {
  border-bottom: solid #090 4px;
  transition: ease 0.2s;
}
.tile-login form div.tile-login-buttons {
  justify-content: center;
  justify-content: space-evenly;
  margin: 0.5em 0 0 0;
}
.tile-login form div.tile-login-buttons input {
  flex-grow: 0;
}
.tile-login form p {
  padding-top: 0.5em;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.2em;
  }
  .no-font-scale {
    font-size: 10pt;
  }
}
#edit-window {
  display: none;
  width: 40%;
  position: fixed;
  top: 20vh;
  left: 30%;
  padding: 1em;
  text-align: center;
}
#edit-window #edit-window-input {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#edit-window #edit-window-input > * {
  margin: 0.5em 0;
  width: 100%;
}
#edit-window #edit-window-input input {
  width: 100%;
  height: 1.5em;
}
#edit-window #edit-window-input textarea {
  margin-bottom: 1em;
}
#edit-window h3 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
.table-header:hover,
.table-header:focus {
  background-color: #e1edff;
}
.button {
  width: auto;
  padding: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  background-color: inherit;
  border: none;
}
.hover-grow:hover,
.hover-grow:focus {
  width: 100%;
  height: 100%;
  margin: 0;
  transition: 0.2s margin, 0.2s width, 0.2s height;
}
.background {
  background-color: #FFF7E0;
}
.background-normal {
  background-color: #FFAE00;
}
.background-normal-hover:hover,
.background-normal-hover:focus {
  background-color: #cc8b00;
}
.background-gray {
  background-color: #FAFCFF;
}
.background-gray-hover:hover,
.background-gray-hover:focus {
  background-color: #c7ddff;
}
.background-green {
  background-color: #A5C414;
}
.background-green-hover:hover,
.background-green-hover:focus {
  background-color: #7e960f;
}
.background-blue {
  background-color: #409DFF;
}
.background-purple {
  background-color: #a550d6;
}
.background-orange {
  background-color: #FF922A;
}
.background-white {
  background-color: white;
}
.center {
  text-align: center;
}
.warnings {
  color: red;
}
