@color-normal: #FFAE00;
@color-background: #FFF7E0;
@color-gray: #FAFCFF;
@color-green: #A5C414;
@color-purple: rgb(165, 80, 214);
@color-blue: #409DFF;
@color-orange: #FF922A;
@color-menu: rgba(165, 196, 20, 90%);

body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.nav-main {
    position: fixed;
    top: 0;
    left: 0;
    background-color: @color-menu;
    .nav-main-hiding {
        height: 100vh;
        display: none;
        .user-id {
            padding: 1em 0.5em;
            display: flex;
            flex-direction: column;
            font-size: 2em;
        }
        ul {
            display: flex;
            flex-direction: column;
            a {
                display: block;
                padding: 0.5em;
                text-align: center;
            }
            a:hover {
                background-color: darken(@color-menu, 10%);
            }
        }
    }
}

.header-main {
    flex-basis: 100%;
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

.table-container {
    width: 60%;
    margin: auto;
    padding: 2em;
    font-size: 1.2em;
    @media screen and (max-width:1024px)
    {
        width: 100%;
    }
}

.table {
    margin: auto;
    padding: 1em 0;
    font-size: 14pt;
    th {
        font-weight: bold;
        
    }
    th, td {
        padding: 0.5em;
        vertical-align: middle;
    }
    tr:nth-child(2n) {
        background-color: darken(@color-gray,5%);
    }
}
.addrecord-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-size: 1.2em;
    div {
        flex-basis: 40%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        > * {
            width: 100%;
            height: 1.5em;
            margin: 10px;
            padding: 0;
            input, select {
                width: 100%;
                height: 1.5em;
            }
        }
        textarea {
            height: auto;
        }
    }
    > div {
        text-align: right;
    }
    p {
        flex-grow: 1;
        padding: 1em;
        text-align: center;
    }
    @media screen and (max-width:1024px)
    {
        width: 100%;
    }
}

#search {
    font-size: 1.1em;
    position: relative;
    height: 1px;
    li {
        padding: 0.2em;
        margin: 0;
        text-align: left;
        border-bottom: solid 1px lightgray;
    }
    li:hover, li:focus {
        background-color: lightgray;
    }
}

.tiles {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 2em;
    font-size: 1.4em;
}

.tile {
    margin: 10px;
    text-align: center;
    transition: .2s margin, .2s width, 0.2s height;
    display: flex;
    div {
        flex-grow: 1;
    }
    a {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        padding: 0.5em;
    }
    h3 {
        padding: 0.5em 0;
    }
}

.tile-single {
    width: 200px;
    height: 200px;
    > div {
        width: 180px;
        height: 180px;
    }
}

.tile-double {
    width: 200px;
    height: 200px;
    > div {
        width: 180px;
        height: 180px;
    }
    @media screen and (min-width: 768px) {
        width: 400px;
        height: 200px;
        > div {
            width: 380px;
            height: 180px;
        }
    }
}

.flex-horizontal-center {
    justify-content: center;
}

.tile-login {
    width: 400px;
    margin-top: 30vh;
    padding: 1em;
    border: solid #090 1px;
    form {
        display: flex;
        flex-wrap: wrap;
        div {
            flex-basis: 100%;
            margin-bottom: 0.5em;
            display: flex;
            span {
                flex-basis: 30%;
            }
            input {
                flex-grow: 2;
                border: none;
            }
            input:focus
            {
                border-bottom: solid #090 4px;
                transition: ease 0.2s;
            }
        }
        div.tile-login-buttons {
            justify-content: center;
            justify-content: space-evenly;
            margin: 0.5em 0 0 0;
            input {
                flex-grow: 0;
            }
        }
        p {
            padding-top: 0.5em;
        }
    }
    
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 1.2em;
    }
    .no-font-scale {
        font-size: 10pt;
    }
}

#edit-window {
    display: none;
    width: 40%;
    position: fixed;
    top: 20vh;
    left: 30%;
    padding: 1em;
    text-align: center;
    #edit-window-input {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: left;
        > * {
            margin: 0.5em 0;
            width: 100%;
        }
        input {
            width: 100%;
            height: 1.5em;
        }
        textarea {
            margin-bottom: 1em;
        }
    }
    h3 {
        font-size: 1.5em;
        padding-bottom: 0.5em;
    }
}

.table-header:hover, .table-header:focus {
    background-color: darken(@color-gray,5%);
}

.button {
    width: auto;
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
    background-color: inherit;
    border: none;
}

.hover-grow:hover, .hover-grow:focus {
    width: 100%;
    height: 100%;
    margin: 0;
    transition: .2s margin, .2s width, 0.2s height;
}

.background {
    background-color: @color-background;
}

.background-normal {
    background-color: @color-normal;
}
.background-normal-hover:hover, .background-normal-hover:focus {
    background-color: darken(@color-normal,10%);
}

.background-gray {
    background-color: @color-gray;
}

.background-gray-hover:hover, .background-gray-hover:focus {
    background-color: darken(@color-gray,10%);
}

.background-green {
    background-color: @color-green;
}
.background-green-hover:hover, .background-green-hover:focus {
    background-color: darken(@color-green,10%);
}

.background-blue {
    background-color: @color-blue;
}

.background-purple {
    background-color: @color-purple;
}

.background-orange {
    background-color: @color-orange;
}

.background-white {
    background-color: white;
}

.center {
    text-align: center;
}

.warnings {
    color: red;
}